body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #111111;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  color: #695aa6;
  font-family: 'Baloo Paaji', sans-serif;
  font-weight: 400;
}

video {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
}

img {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
}

::selection {
  background-color: #695aa6;
  color: #ffffff;
}

.alert {
  color: red;
}

.sticky-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  position: sticky;
  top: 0;
  background-color: #695aa6;
  color: white;
  z-index: 1000;
  box-sizing: border-box;
}

.sticky-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1240px;
}

.site-logo {
  font-family: 'Baloo Paaji', sans-serif;
  font-size: 34px;
  font-weight: 400;
  margin: 0px;
  color: white;
}

.homepage-btn {
  background-color: transparent;
  color: transparent;
  padding: 0px 0px;
  margin: 0px;
  border: none;
  cursor: pointer;
}

.homepage-btn:hover .home-icon {
  filter: invert(40%) sepia(100%) saturate(200%) hue-rotate(90deg);
  transition: filter 0.2s ease;
}

.home-icon {
  width: 46px;
  height: 46px;
  filter: invert(100%) brightness(100%); /* Makes the color white. */
  transition: filter 0.2s ease;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  padding: 24px;
  box-sizing: border-box;
}

.downloads-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  box-sizing: border-box;
}

.item-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  box-sizing: border-box;
}

.downloads-section .item-div:last-child {
  border-bottom: none;
}

.download-btn {
  background-color: transparent;
  color: #695aa6;
  background-color: transparent;
  border: 1px solid #695aa6;
  border-radius: 999px;
  width: 125px;
  height: 40px;
  padding: 0px 0px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}
  
.download-btn:hover {
  color: white;
  background-color: #695aa6;
}

.footer {
  display: flex;
  background-color: #695aa6;
  width: 100%;
  justify-content: center;
}

.link-container {
    display: flex;
    width: 100%;
    max-width: 1240px;
}

.link-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.link-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #ffffffdc;
  padding: 20px;
  border-radius: 8px;
}

.link-box h4,
.link-box ul,
.link-box li,
.link-box a {
  color: #ffffffdc;
}

.link-box h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.link-box ul {
  list-style: none;
  padding: 0;
}

.link-box li {
  margin: 5px 0;
}

.link-box a {
  text-decoration: none;
}

.link-box a:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .link-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .link-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .link-grid {
    grid-template-columns: 1fr;
  }
}
